.notFound {
  max-width: 450px;
  max-height: 450px;
}

.notFound > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.notFound > div > span {
  font-size: 24px;
}

.notFound > div > p {
  font-size: 16px;
  padding-bottom: 16px;
}
