.wrapperPassword {
  display: flex;
  flex-direction: column;
  padding: 0 32px 32px;
}

.wrapperPassword > form label {
  flex-direction: row-reverse;
  padding-top: 20px;
}

.buttonWrapper {
  padding-top: 20px;
  text-align: center;
}

.formWrapper > label:first-child {
  visibility: hidden;
  display: none;
}

@media (max-width: 640px) {
  .formWrapper > label {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    gap: 10px;
  }

  .formWrapper > label > span {
    padding: 0;
    flex: 1 1 75px;
    text-align: left;
    font-size: 12px;
    max-width: 55px;
    width: 100%;
  }

  .inputWrapper > label > input {
    text-align: left;
    width: calc(100% - 20px);
  }
}
